#nav{
    display: flex;
}
.Product easy{
display: flex;
}
.footerwords{
    display: flex;
    gap: 200px;
    border-color: darkblue;
}
.Dit{
    display: flex;
    gap: 30px;
}
.Landing page{
    display: flex;
    gap: 90px;
}
.Right landing page{
font-size: large;
}
.Left landing page{
    font-size: large;
}
.Icons{
    
    gap: 60px;
    margin: 50%;
}
.product{
    display: flex;
    margin: 10%;
    gap: 50px;
    
}
.footer icons{
    display: flex;
    gap: 40px;
    margin: 5%;
}
.Download{
    display: flex;
    gap: 250px;
    justify-content: center;
}
.Dit{
    width: 60%;
    height: 50px;
    margin: 30%;
}
.Clients{
    display: flex;
    gap: 120px;

}
.Copyright{
    display: flex;

}


